RRHH/Web References/serviciosUPC/TrabajadorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://ws.servicesweb.rrhhintegration.com/" name="TrabajadorWS" targetNamespace="http://ws.servicesweb.rrhhintegration.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://ws.servicesweb.rrhhintegration.com/" elementFormDefault="unqualified" targetNamespace="http://ws.servicesweb.rrhhintegration.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="actualizarTrabajador" type="tns:actualizarTrabajador" />
      <xs:element name="actualizarTrabajadorResponse" type="tns:actualizarTrabajadorResponse" />
      <xs:element name="eliminarTrabajador" type="tns:eliminarTrabajador" />
      <xs:element name="eliminarTrabajadorResponse" type="tns:eliminarTrabajadorResponse" />
      <xs:element name="obtenerTodos" type="tns:obtenerTodos" />
      <xs:element name="obtenerTodosResponse" type="tns:obtenerTodosResponse" />
      <xs:element name="registrarTrabajador" type="tns:registrarTrabajador" />
      <xs:element name="registrarTrabajadorResponse" type="tns:registrarTrabajadorResponse" />
      <xs:complexType name="registrarTrabajador">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="tns:trabajador" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="trabajador">
        <xs:sequence>
          <xs:element minOccurs="0" name="apeMat" type="xs:string" />
          <xs:element minOccurs="0" name="apePat" type="xs:string" />
          <xs:element minOccurs="0" name="codigoAFP" type="xs:string" />
          <xs:element minOccurs="0" name="codigoBancoAbono" type="xs:string" />
          <xs:element minOccurs="0" name="codigoDNI" type="xs:string" />
          <xs:element minOccurs="0" name="codigoDepartamento" type="xs:string" />
          <xs:element minOccurs="0" name="codigoDistrito" type="xs:string" />
          <xs:element minOccurs="0" name="codigoNacionalidad" type="xs:string" />
          <xs:element minOccurs="0" name="codigoProvincia" type="xs:string" />
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element minOccurs="0" name="estadoCivil" type="xs:string" />
          <xs:element minOccurs="0" name="estadoPersona" type="xs:string" />
          <xs:element minOccurs="0" name="nombres" type="xs:string" />
          <xs:element minOccurs="0" name="numCUPS" type="xs:string" />
          <xs:element minOccurs="0" name="sexoColaborador" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="registrarTrabajadorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="obtenerTodos">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="obtenerTodosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="response" type="tns:trabajador" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eliminarTrabajador">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="eliminarTrabajadorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="actualizarTrabajador">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="tns:trabajador" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="actualizarTrabajadorResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="response" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="obtenerTodosResponse">
    <wsdl:part name="parameters" element="ns1:obtenerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerTodos">
    <wsdl:part name="parameters" element="ns1:obtenerTodos" />
  </wsdl:message>
  <wsdl:message name="eliminarTrabajadorResponse">
    <wsdl:part name="parameters" element="ns1:eliminarTrabajadorResponse" />
  </wsdl:message>
  <wsdl:message name="registrarTrabajador">
    <wsdl:part name="parameters" element="ns1:registrarTrabajador" />
  </wsdl:message>
  <wsdl:message name="actualizarTrabajadorResponse">
    <wsdl:part name="parameters" element="ns1:actualizarTrabajadorResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarTrabajador">
    <wsdl:part name="parameters" element="ns1:actualizarTrabajador" />
  </wsdl:message>
  <wsdl:message name="eliminarTrabajador">
    <wsdl:part name="parameters" element="ns1:eliminarTrabajador" />
  </wsdl:message>
  <wsdl:message name="registrarTrabajadorResponse">
    <wsdl:part name="parameters" element="ns1:registrarTrabajadorResponse" />
  </wsdl:message>
  <wsdl:portType name="TrabajadorWS">
    <wsdl:operation name="registrarTrabajador">
      <wsdl:input name="registrarTrabajador" message="ns1:registrarTrabajador" />
      <wsdl:output name="registrarTrabajadorResponse" message="ns1:registrarTrabajadorResponse" />
    </wsdl:operation>
    <wsdl:operation name="obtenerTodos">
      <wsdl:input name="obtenerTodos" message="ns1:obtenerTodos" />
      <wsdl:output name="obtenerTodosResponse" message="ns1:obtenerTodosResponse" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTrabajador">
      <wsdl:input name="eliminarTrabajador" message="ns1:eliminarTrabajador" />
      <wsdl:output name="eliminarTrabajadorResponse" message="ns1:eliminarTrabajadorResponse" />
    </wsdl:operation>
    <wsdl:operation name="actualizarTrabajador">
      <wsdl:input name="actualizarTrabajador" message="ns1:actualizarTrabajador" />
      <wsdl:output name="actualizarTrabajadorResponse" message="ns1:actualizarTrabajadorResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>