RRHH/Service References/ServiceReference2/UPC_DIRECTORY_SERVICE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UPC_DIRECTORY_SERVICE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UPC_DIRECTORY_SERVICE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ape_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id_empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Personal_RENIEC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ape_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ape_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DNI1" type="xs:int" />
      <xs:element minOccurs="0" name="Departamento1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Domicilio1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_civil1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personal_RENIEC" nillable="true" type="tns:Personal_RENIEC" />
</xs:schema>